/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
}

/* layout */
/* COMMON */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* debug */
    min-height: 80px; 
}

.section{
    background-color: #b4d0e6;
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* debug */
    /* border: 1px solid black; */
}

.col-70{
    width: 70%;
    /* debug */
    /* background-color:blueviolet; */
}

.col-30{
    width: 30%;
    /* debug */
    /* background-color:darkcyan; */
}

.button{
    display: inline-block;
    padding: 10px;
    background-color: #0161fe;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

p{
    font-size: 0.8rem;
}

hr{
    color: #d3d3d3;
}

ul{
    list-style: none;
}

/* utilities */
.gap{
    gap: 10px;
}

.p-20{
    padding-top: 20px;
}

.pb-20{
    padding-bottom: 20px;
}

.p-40{
    padding-top: 40px;
}

.mb-40{
    margin-bottom: 40px;
}

.m-10{
    margin-right: 10px;
}

.align-center{
   display: block;
   text-align: center;
   padding: 5px;
}

.border{
    border: 1px solid #d3d3d3;
}

.pl-10{
    padding-left: 10px;
}

.grey{
    color: grey;
}

.pb-40{
    padding-bottom: 40px;
}

.line{
    width: 30px;
    color: #d3d3d3;
}

.blu{
    color: #0161fe;
}

.mt-20{
    margin-top: 20px;
}

.light{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.pl-20{
    padding-left: 20px;
}

footer li{
    padding-bottom: 10px;
    font-size: 0.8rem;
}

.line-footer{
    width: 60px;
    color: #ffffff;
}

/* HEADER */
.header{
    height: 80px;
}

.list{
    margin: 0 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo{
    width: 5rem;
}

/* MAIN */
main{
    font-family: sans-serif;
}

.arrow{
    font-size: 4rem;
}

.title{
    font-size: 3.5rem;
}

.col-40{
    width: 40%;
    /* debug */
    /* background-color: coral; */
}

.col-60{
    width: 60%;
    /* debug */
    /* background-color: chartreuse; */
}

.small-container{
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
    /* debug */
    /* border: 1px solid black; */
}

.col{
    width: calc((100% - 20px) / 3);
    /* debug */
    /* border: 1px solid black; */
    /* min-height: 200px; */
}

.col-100{
    width: 100%;
    /* debug */
    /* background-color: aqua; */
}

/* FOOTER */
.color{
    background-color: black;
    color: white;
}

.col-footer{
    width: calc((100% - 20px) / 5);
    /* debug */
    /* background-color: brown; */
    /* border: 1px solid white; */
    /* min-height: 200px; */
}

/* Bonus */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.white{
    background-color: #ffffff;
}

main{
    margin-top: 80px;
}

header li:hover{
    text-decoration: underline;
}

.button:hover{
    background-color: dodgerblue;
}

.button.light:hover{
    background-color: #ffffff;
}

.img{
    position: relative;
    top: 65px;
}

.cel-grey{
    background-color: #b4d0e7;
}

.center{
    align-items: center;
}

.col-title{
    color: #62092b;
}

.justify-center{
    justify-content: center;
}

.relative{
    position: relative;
}

.chevron{
    position: absolute;
    right: 0;
    top: 35%;
}

div .relative:hover .chevron{
    transform: rotate(180deg);
}

.relative p{
    display: none;
}

.relative:hover p{
    display: block;
}

div .relative:hover + p{
    margin-top: -50px;
}

